extends layout

block content
  #home
    .container-narrow
      img#logo(src="/img/logo.png")
      img#banner(src="/img/justice-banner.jpg")
      h1 Helping Innocent People "PROVE" Their Innocence
      h3 
      .row-fluid
        .span6
          section
            h2 Arrested for DUI/DWI?
            .content
              p.
                We have consulted on thousands of DUI cases.
                We offer a free consultation and attorney referral service.
                We can provide a nationwide expert witness/consultant/speaker.
          section
            h4 <span class="circle">1</span> Consultantion services include:
            .content
              ul
                li Review of State discovery.
                li Audit of breath test machine records.
                li Review of Cobra Data
                li Review of video evidence, driving pattern, FST’s.
                li Review of Police Policy and Procudres.
                li Public Record Requests.
          section 
            h4 <span class="circle">2</span> Expert Witness Tesimony for:
            .content(style="margin-top: 5px")
              p  DMV Hearings, Motions and Trial testimony
          section
            h4 <span class="circle">3</span> Additional Trial Services:
            .content(style="margin-top: 5px")
              p Power Point Presntations for Trial
        .span6
          .lead-gen
