extends layout

block content
  #home
    .container-narrow
      .header
        img#logo(src="/img/logo.png")
        h1 D.U.I. Expert Witness and Consultant
      h3 
      .row-fluid
        .span6
          section
            img(src="/img/profile-pic.png", style="border-right: 1px solid #000")
            .bio
              h2 Stephen F. Daniels
              h3 Dui expert witness and consultant
              p.
                I have consulted on thousands of DUI cases.
                I am a nationwide expert witness/consultant/speaker.
              p.
                DUIundoConsultants@tampabay.rr.com 
              p.
                www.duiundo.com
          section
            h4 <span class="circle">1</span> Consultantion services include:
            .content
              ul
                li Review of State discovery.
                li Audit of breath test machine records.
                li Review of Cobra Data
                li Review of video evidence, driving pattern, FST’s.
                li Review of Police Policy and Procudres.
                li Public Record Requests.
          section 
            h4 <span class="circle">2</span> Expert Witness Tesimony for:
            .content(style="margin-top: 5px")
              p  DMV Hearings, Motions and Trial testimony
          section
            h4 <span class="circle">3</span> Additional Trial Services:
            .content(style="margin-top: 5px")
              p Power Point Presntations for Trial
        .span6
          .lead-gen
